
$color1:#1A3A3A;
$color2:#393E41;
$color3:#C7532C;
$color4:#F2774B;
$color5:#CF484C;
$color6:#42A5F8;

*{
    box-sizing: border-box;
}
img{
    width: 100%;
}
.inputDiv{
    background: #393E41;
    padding: 10px;
    button{
        float: right;
    }
    h1{
        color:white;
    }
}
#inputResults{
    color: white;
    margin-left: -15px;
    .note{
        background: #1985A1;
        font-size: 40px;
        margin-top: 2px;
    }
}
