*{
    box-sizing: border-box;
}
img{
    width: 100%;
}
.inputDiv{
    background: #712357;
    padding: 10px;
    button{
        float: right;
    }
    h1{
        color:white;
    }
}
.list-container{
    background-color: RGB(66, 165, 248);

}
